/* line 1, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.grid-container {
  display: grid;
  background-color: purple;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 250px 2fr;
  grid-template-areas: "header" "header" "header" "header" "sideNav" "sideNav" "sideNav" "sideNav" "main" "main" "main" "main";
}

/* line 21, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* line 28, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.flexBox h2, .flexBox h3, p {
  width: 100%;
  text-align: center;
}

/* line 33, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
header {
  background-color: yellow;
  grid-area: header;
}

/* line 38, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.mobileHeader {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* line 46, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
img {
  height: auto;
  width: 60%;
  border-radius: 50%;
}

/* line 52, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* line 59, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.thumbnail {
  height: auto;
  width: 40%;
  border-radius: 50%;
}

/* line 65, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.icon {
  height: auto;
  width: 60px;
}

/* line 71, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
textarea {
  width: 60%;
}

/* line 75, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.socialStatsItem, p {
  width: 100%;
}

/* line 79, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.sideNav {
  display: flex;
  justify-content: space-around;
  background-color: red;
  grid-area: sideNav;
  height: 100px;
}

/* line 87, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
main {
  background-color: cyan;
  grid-area: main;
}

/* line 92, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.newMembersItem p {
  width: 30%;
}

/* line 96, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.recentActivityItem p {
  width: 90%;
  margin: 0;
}

/* line 101, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/* line 108, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* line 113, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.button, select, input {
  width: 60%;
  margin: 5px 0;
}

/*   Slider Switch buttons  */
/* line 120, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.switchContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* line 126, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #eee;
  border-radius: 20px;
}

/* line 135, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

/* line 147, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.checkbox:checked + .switch::after {
  left: 20px;
}

/* line 151, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.checkbox:checked + .switch {
  background-color: #7983ff;
}

/* line 155, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.checkbox {
  display: none;
}

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
/*   Tablet    */
@media (min-width: 768px) {
  /* line 167, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: "header header" "sideNav sideNav" "main main";
  }
  /* line 176, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  header h2, .sideNav h2, main h2 {
    width: 40%;
    text-align: center;
  }
}

/* line 184, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 250px 2fr;
  grid-template-areas: "header" "header" "header" "header" "sideNav" "sideNav" "sideNav" "sideNav" "main" "main" "main" "main";
}

/* line 203, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* line 210, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.flexBox h2, .flexBox h3, p {
  width: 100%;
  text-align: center;
}

/* line 215, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
header {
  background-color: yellow;
  grid-area: header;
}

/* line 220, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.mobileHeader {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* line 228, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
img {
  height: auto;
  width: 60%;
  border-radius: 50%;
}

/* line 234, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* line 241, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.thumbnail {
  height: auto;
  width: 40%;
  border-radius: 50%;
}

/* line 247, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.icon {
  height: auto;
  width: 60px;
}

/* line 253, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
textarea {
  width: 60%;
}

/* line 257, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.socialStatsItem, p {
  width: 100%;
}

/* line 261, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.sideNav {
  display: flex;
  justify-content: space-around;
  background-color: red;
  grid-area: sideNav;
  height: 100px;
}

/* line 269, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
main {
  background-color: cyan;
  grid-area: main;
}

/* line 274, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.newMembersItem p {
  width: 30%;
}

/* line 278, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.recentActivityItem p {
  width: 90%;
  margin: 0;
}

/* line 283, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/* line 290, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*   Slider Switch buttons  */
/* line 298, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.switchContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* line 304, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #eee;
  border-radius: 20px;
}

/* line 313, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

/* line 325, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.checkbox:checked + .switch::after {
  left: 20px;
}

/* line 329, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.checkbox:checked + .switch {
  background-color: #7983ff;
}

/* line 333, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
.checkbox {
  display: none;
}

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
/*   Tablet    */
@media (min-width: 768px) {
  /* line 345, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header" "sideNav sideNav" "main main";
  }
  /* line 354, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  header h2, .sideNav h2, main h2 {
    width: 40%;
    text-align: center;
  }
  /* line 359, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .flexBox h2, .flexBox h3, p {
    width: 10%;
    text-align: center;
  }
  /* line 364, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .dashBoardSearch {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
  /* line 370, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .dashBoardSearch input {
    width: 40%;
  }
  /* line 374, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .flexBox {
    flex-wrap: wrap;
  }
  /* line 378, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .chartsContainer {
    display: flex;
    min-height: 600px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* line 388, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .trafficContainer,
  .dailyTrafficContainer,
  .mobileUsersContainer,
  .socialStatsContainer,
  .newMembersContainer,
  .recentActivityContainer,
  .messageUserContainer,
  .settingsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  /* line 403, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  #dashboardHeading {
    width: 20% !important;
  }
  /* line 407, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .flexBox h2 {
    width: 100%;
    text-align: center;
  }
  /* line 412, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .socialStatsItem {
    width: 30%;
  }
  /* line 416, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .newMembersItem, .recentActivityItem {
    width: 50%;
  }
  /* line 420, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .switchContainer, .settingsContainer p {
    width: 22%;
  }
}

/*   Desktop    */
@media (min-width: 1024px) {
  /* line 431, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .grid-container {
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto;
    grid-template-areas: "header header" "sideNav main" "sideNav main" "sideNav main" "sideNav main" "sideNav main" "sideNav main" "sideNav main" "sideNav main";
  }
  /* line 446, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  #header {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* line 452, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .mobileHeader {
    justify-content: space-between;
    width: 80%;
  }
  /* line 457, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .profileHeader {
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid purple;
  }
  /* line 465, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .profileHeader h2 {
    width: 75%;
  }
  /* line 469, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .profileThumb {
    width: 25%;
    height: auto;
  }
  /* line 475, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .sideNav {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  /* line 481, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .sideNav a {
    padding: 10px 0;
  }
  /* line 486, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .chartsContainer {
    min-height: 300px;
    flex-wrap: nowrap;
  }
  /* line 491, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .dailyTrafficContainer,
  .mobileUsersContainer {
    width: 48%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  /* line 500, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .dailyTrafficContainer {
    border: 1px solid red;
  }
  /* line 504, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .mobileUsersContainer {
    border: 1px solid green;
  }
  /* line 508, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .membersAndActivityContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  /* line 517, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .newMembersContainer, .recentActivityContainer {
    display: flex;
    justify-content: space-around;
    color: #666;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 100%;
  }
  /* line 526, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .newMembersItem, .recentActivityItem {
    display: flex;
    flex-wrap: nowrap;
    width: 96%;
    justify-content: space-around;
    min-height: 80px;
  }
  /* line 534, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .thumbnailContainer {
    max-width: 20%;
  }
  /* line 538, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .thumbnail {
    max-width: 80%;
    height: auto;
  }
  /* line 543, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .newMembersText {
    line-height: 2px;
  }
  /* line 547, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .newMembersText, .recentActivityText {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* line 555, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .newMembersText p, .recentActivityText p {
    text-align: justify;
    width: 90%;
  }
  /* line 560, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .messageAndSettingsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 96%;
    margin-bottom: 50px;
  }
  /* line 568, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .messageUserContainer, .settingsContainer {
    display: flex;
    width: 50%;
  }
  /* line 573, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .messageUserContainer {
    border: 1px solid red;
  }
  /* line 577, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .messageUserForm {
    width: 96%;
  }
  /* line 581, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .messageUserForm input, .messageUserForm textarea, .sendButton {
    width: 96%;
    padding: 0 2%;
  }
  /* line 586, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .settingsContainer {
    flex-wrap: wrap;
    border: 1px solid green;
    justify-content: flex-start;
    text-align: left !important;
  }
  /* line 594, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  #settingsHeading, #messageUserHeading {
    text-align: left;
    padding: 0 2%;
    margin-bottom: auto;
  }
  /* line 601, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .switchContainer {
    display: flex;
    width: 96%;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid brown;
    padding: 0 2%;
  }
  /* line 610, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .switchContainer p {
    text-align: left;
    width: 40%;
  }
  /* line 615, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .saveButton, .cancelButton {
    width: 48%;
    margin: 10px 1%;
  }
  /* line 620, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .timezoneSelect {
    width: 96%;
    margin: 10px 2%;
  }
  /* line 625, ../../../Documents/paulRobbPortfolio/techDegree_FEWD_Project7/scss/style.scss */
  .sendButton {
    width: 100%;
    color: white;
    background-color: blue;
    border-radius: 5px;
    height: 2em;
    border: 0;
  }
}

/*# sourceMappingURL=style.css.map */