$primary-color: #f33;

* { box-sizing: border-box; }

body {
    padding: 0;
    margin: 0;
  }

  ul {
    list-style-type: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "nav" "main";
  }

  header {
    grid-area: header;
    display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #c069dd;
  }

  .mobileHeader {
        display: flex;
  justify-content: space-between;
    flex-wrap: nowrap;
  }

  .mobileHeader h1{
display: flex;   
align-self: flex-start;
  }

  .notificationContainer {
    display: flex;
    align-self: flex-end;
    margin-left: 3rem;
  }

  h1, h2, h3, input, textarea{
    display: inline-block;
    width: 100%;
    justify-content: center;

  }

.bellIcon {
  height: 40px;
  width: auto;
}



.sideNav, .sideNav li, .searchContainer, .searchContainer h2, .smallCharts, .dailyTraffic, .socialStats, .recentActivity, .messageAndSettings, .notificationContainer{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 padding: 0;
}  

.sideNav {
  background-color: #c069dd;
}

.sideNav li {
  width: 100%;
}



  nav {
    grid-area: nav;
  }
  
  main {
    grid-area: main;
    display: grid;
  }

  .profileImage {
  width: 100%;
  height: auto;
  border-radius: 50%;
  }


 
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 55px 1fr;
      grid-template-areas: "header header" "nav main";
    }

    header{
      display: flex;
      flex-wrap:nowrap;
      border: 1px solid green;
    }

    .headerPushRight {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 65%;
      margin-right: 10px;
    }
  
   


  }